.single-post {
  width: 90%;
  margin: 0 auto;
  color: #3b0062;
}
.single-post h1{
  font-size: 3.6rem;
   margin-block-start: 0;
  margin-block-end: 0;
}
.single-post p{
  color: #111;
  font-size: 1.15em;
}
.single-post h2 {
  font-size: 1rem;
  color: #464646;
  padding-bottom: 1rem;
  border-bottom: 2px solid #464646;
}
.post-data{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-claps{
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
.post-data span:nth-of-type(2) img{
  height: 36px;
  padding-left: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.post-data span:nth-of-type(2) img:hover{
  transform: scale(1.1);
}
.post-data span:nth-of-type(2) img.clapped{
  transform: scale(1.5);
}
.single-post__image {
  width: 100%;
  max-height: 350px;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .single-post {
    width: 45rem;
  }
}
